.footer {
  padding: 85px 0 86px;
}
.footer__img {
  width: 216px;
  height: 31px;
}
.footer__title {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
  margin-bottom: 33px;
}
.footer__address {
  all: initial;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  color: #101010;
}
.footer__services {
  list-style-type: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 160%;
  text-transform: capitalize;
  color: #000000;
}
.footer__items {
  list-style-type: none;
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-bottom: 11px;
}
.footer__copyright {
  font-family: Lato, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #101010;
  margin-top: 141px;
}